/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

.encabezadoOpie {
  display: flex;
  justify-content: space-between;
  background-color: #e6e6fa;
  margin: 10px
}
