<div class="linea">
  <div class="app-recuadro card p-3">
    <app-recuadro [datosRec]="datosDAM" [cabecerasRec]="cabeceras" [titulorecuadro]="tituloDAM"
                  [textoboton]="textoboton"></app-recuadro>
  </div>
  <div class="app-recuadro card p-3">
    <app-recuadro [datosRec]="datosDAW" [cabecerasRec]="cabeceras" [titulorecuadro]="tituloDAW"
                  [textoboton]="textoboton"></app-recuadro>
  </div>
</div>
<div class="linea">
  <div class="app-recuadro card p-3">
    <app-recuadro [datosRec]="datosASIR" [cabecerasRec]="cabeceras" [titulorecuadro]="tituloASIR"
                  [textoboton]="textoboton"></app-recuadro>
  </div>
  <div class="app-recuadro card p-3">
    <app-recuadro [datosRec]="datosSMR" [cabecerasRec]="cabeceras" [titulorecuadro]="tituloSMR"
                  [textoboton]="textoboton"></app-recuadro>
  </div>
</div>
